@import "./../../vars.scss";

.form {
    padding: 50px 0;
    text-align: center;
    font-size: 12px;
    @media (max-width: $notebook) {
        font-size: 10px;
    }
    @media (max-width: $tablet) {
        font-size: 8px;
    }
    @media (max-width: $phone) {
        font-size: 6px;
    }
    background-image: url("https://st.depositphotos.com/1062624/2003/i/600/depositphotos_20035055-stock-photo-best-internet-concept-of-global.jpg");
    &__wrapper {
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: skew(-40deg);
        border: 1px solid white;
        width: 30%;
        background: rgba(255, 255, 255, 0.781);
        @media (max-width: $phone) {
            transform: skew(0deg);
        }
    }
    &__input {
        margin-left: 10%;
        width: 60%;
        background: none;
        border: none;
        transform: skew(40deg);
        outline: none;
        @media (max-width: $phone) {
            transform: skew(0deg);
        }
    }
    &__button {
        height: 100%;
        width: 30%;
        border: 1px solid white;

        background: #fe0000;
        color: white;
    }
    :disabled {
        background: #fe000065;
    }
    &__text {
        transform: skew(40deg);
        @media (max-width: $phone) {
            transform: skew(0deg);
        }
    }
}
